* {
    margin: 0;
    padding: 0;
}

:root {
    --primarycolor: rgb(67, 133, 196);
    --secondarycolor: rgba(229, 235, 230, 0.897);
    --accentcolor: rgb(163, 42, 143);
}

ul {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--accentcolor);
}

a {
    color: var(--secondarycolor);
    text-decoration: none;
}

ul li {
    padding: 50px;
    list-style: none;
    color: var(--secondarycolor);
}