.container {
    background-color: bisque;
    border: 2px solid brown;
    box-shadow: 4px 3px 12px 5px rgb(42, 119, 93)inset;
    height: 100px;
    outline: 2px solid blue;
    outline-offset: 12px;
    display: grid;
    align-content: center;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
}

div p {
    color: rgb(69, 152, 155);
    text-shadow: 7px 8px 3px black;
}