.container{
            border: 2px solid black;
            width: 30vw;
            height: 10vh;
            /* overflow: auto; */
            /* text-overflow: ellipsis; */
            /* white-space: nowrap; */
            /* overflow-x: hidden;
            overflow-y: scroll; */
            /* overflow: scroll hidden; */
            overflow: hidden auto;
        }