.parent {
    background-color: brown;
    height: 70vh;
    width: 80vw;
    margin: auto;
}

.box {
    background-color: yellow;
    height: 30px;
    width: 130px;
    /* transition-property: transform;
            transition-duration: 2s;
            transition-timing-function: cubic-bezier(0, 0.37, 0.83, 0.23);
            transition-delay: 2s; */
    /* transition: all 2s cubic-bezier(0, 0.37, 0.83, 0.23) 1s; */
}

.item {
    transform: translateX(80px) translateY(60px);
    background-color: cadetblue;
}