* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 60vh;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-content: center;  */
    /* gap: 30px; */
    row-gap: 30px;
    column-gap: 30px;

}

.box {
    height: 80px;
    width: 80px;
    background-color: rgb(40, 143, 146);
    /* margin: 12px; */
    flex-grow: 1;
}

.box1 {
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
    align-self: flex-end;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.box2 {
    align-self: flex-start;
}