/* .child:first-child{
    background-color: antiquewhite;
} */
/* .child:nth-child(2) {
    color: aquamarine;
    background-color: black;
} */

/* .child::first-line{
    color: blue;
} */

/* .parent *{
    background-color: rgb(51, 19, 63);
    color: rgba(255, 255, 255, 0.979);
} */
/* 
div, a, p, .child, [data-set]{
    color: blue;
    padding-bottom: 20px;
} */

/* .child:nth-child(odd){
    background-color: cadetblue;
} */

/* .container::first-letter{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    color: rgb(167, 105, 25);
    font-weight: 700px;
} */

/* .child:nth-last-child(2){
    background-color: brown;
} */

/* .parent::after{
    content: "Hey, this is pseudo selecter that used alot in websites";
    border: 2px solid black;
} */
 
/* .parent::before{
    content: "Hey, this is pseudo selecter that used alot in websites";
    border: 2px solid black;
} */

/* ::selection{
    color: rgb(122, 33, 211);
    background-color: bisque;
} */

/* input::placeholder{
    color: rgb(255, 246, 246);
    background-color: rgb(87, 26, 145);

} */


/* input{
    color: rgb(40, 153, 125);
}

label{
    color: burlywood;
} */

