* {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid black;
    padding: 30px;
    /* display: inline-block; */
    /* width: 500px; */
    margin: 25px;
    display: flex;
    justify-content: center;
}

span {
    border: 2px solid blue;
    color: brown;
    display: grid;
    justify-content: center;
    align-content: space-between;
    padding: 30px;
}

/* .container2 {
            
    display: none;
    visibility: hidden;
} */