.container {
            margin: auto;
            height: 50vh;
            width: 80vw;
            border: 2px solid black;
        }

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            width: 100px;
            border: 2px solid blue;
            /* transform: rotateZ(90deg); X, Y ,Z axis */
            /* transform: skew(20deg); */
            /* transform: rotate(0.25turn); X Y Z  */
            /* transform: scale(1.5); X Y Z  */
            /* transform: skew(15deg); X Y  We cannot do at Z axis*/
            /* transform: translateX(40%); X Y Z  */
            /* multiple tranform properties \ */
            /* transform: translateY(100%) translateX(100%) skewX(20deg); */
            /* transform-origin: 0% 0%;
            transform: rotate(340deg); */
        }